@font-face {
  font-family: Nature-Regular;
  /* Use the absolute path starting from the public root */
  src: url('/assets/fonts/Nature-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Nature-Light;
  /* Use the absolute path starting from the public root */
  src: url('/assets/fonts/Nature-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@theme {
  --font-nature: Nature-Regular, 'sans-serif';
  --font-nature-light: Nature-Light, 'sans-Light', 'sans-serif';
}

@import "tailwindcss";

/* 1. FORCE BROWSER RESET (Guarantees no margins/padding) */
html, body {
  margin: 0;
  padding: 0;

  width: 100%;
  min-height: 100vh;
  height: 100%;

  overflow-x: hidden;
}

/* 2. Sizing the root React mounting point */
#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
